.vs/
.vscode/

*.o
*.bin

*/__pycache__

.DS_Store
odysseus/outputs/**

# for passwords
odysseus/SECRETS.env
odysseus/SECRETS.env-example
# redundant safeguard for all env files named SECRETS.env in case it is renamed wrong
**/*SECRETS.env*
