[submodule "odysseus/buildroot"]
	path = odysseus/buildroot
	url = git@github.com:buildroot/buildroot.git
[submodule "Odyssey-Base"]
	path = Odyssey-Base
	url = https://github.com/Northeastern-Electric-Racing/Odyssey-Base
