[submodule "odysseus_tree/sources/nrc7292_sw_pkg"]
	path = odysseus_tree/sources/nrc7292_sw_pkg
	url = https://github.com/newracom/nrc7292_sw_pkg
        branch = v1.5
[submodule "odysseus_tree/sources/nrc7394_sw_pkg"]
	path = odysseus_tree/sources/nrc7394_sw_pkg
	url = https://github.com/newracom/nrc7394_sw_pkg
	branch = master
