services:
    odysseus:
        build: .
        image: ghcr.io/northeastern-electric-racing/odysseus:develop-stability-and-improvements
        command: /bin/bash
        tty: true
        stdin_open: true
        network_mode: host
        # for fakeroot failure
        ulimits:
          nofile:
            soft: 1024
            hard: 1048576
        volumes:
            - ./odysseus_tree:/home/odysseus/build/odysseus_tree
            - shared_data:/home/odysseus/shared_data
            - ./outputs:/home/odysseus/outputs
            - ./.git:/home/odysseus/build/githistory/.git:ro # read only as this is an unsafe operation
        environment:
            - BR2_DL_DIR=/home/odysseus/shared_data/dl 
            - BR2_CCACHE_DIR=/home/odysseus/shared_data/ccache
            - ODY_TPU_ROOT_PASSWORD=password
            - ODY_IROH_ROOT_PASSWORD=password
            - ODY_AP_ROOT_PASSWORD=password
            - ODY_BASE_WIFI_PASSWORD=password

volumes:
    shared_data:
        labels:
            com.northeastern_electric_racing.description: "Shared output between buildroot runs"


            
