# usbipd must be running AND and usbip_host must be manually modprobed
SYMLINK+="ttyCerberus",SUBSYSTEMS=="usb",KERNEL=="1-1.3",RUN{program}+="/usr/sbin/usbip bind -b %k"
SYMLINK+="ttyShepherd",SUBSYSTEMS=="usb",KERNEL=="1-1.4",RUN{program}+="/usr/sbin/usbip bind -b %k"
