[Unit]
Description=Control nrc LEDs.
# starts after nrc-autostart
After=nrc-autostart.service
# starts and stops when nrc-autostart starts and stops
PartOf=nrc-autostart.service
# will not run if nrc-autostart is not running
Requisite=nrc-autostart.service
# cannot be started manually (run the nrc-led in path to manually test LEDs)
RefuseManualStart=true


[Service]
User=pi
Group=pi
Type=simple
# wait for all initialization in start.py to happen, usually takes 15-20 seconds on a pi 4.  A hook to call systemd-ready when initialization reaches [7] would be a better way to do this, but would add alot of complexity without making nrc-wizard systemd invokable only.
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/sbin/nrc-led

[Install]
WantedBy=multi-user.target
