[Unit]
Description=Control nrc LEDs.
# starts after nrc-autostart
After=nrc-autostart.service
# starts and stops when nrc-autostart starts and stops
PartOf=nrc-autostart.service
# will not run if nrc-autostart is not running
Requisite=nrc-autostart.service
# cannot be started manually (run the nrc-led in path to manually test LEDs)
RefuseManualStart=true


[Service]
User=pi
Group=pi
Type=simple
ExecStart=/usr/local/sbin/nrc-led

[Install]
WantedBy=multi-user.target
