[Unit]
Description=Control nrc using the pyton scripts provided.
# ensure nrc-led is also started, but don't fail if nrc-led fails
Wants=nrc-led.service

[Service]
User=pi
Group=pi
# use notify to alert nrc-led to turn on
Type=notify
NotifyAccess=all

ExecStartPre=/usr/local/sbin/nrc-wizard stop

ExecStart=/usr/local/sbin/nrc-wizard start-systemd
# run this as post is it guarrantees running as cleanup
ExecStopPost=/usr/local/sbin/nrc-wizard stop

[Install]
WantedBy=multi-user.target

