# usbipd must be running AND and usbip_host must be manually modprobed
#SYMLINK+="ttyCerberus",SUBSYSTEMS=="usb",MODE="0666",KERNEL=="1-1.3",RUN{program}+="/usr/sbin/usbip bind -b %k"
#SUBSYSTEM=="usb",KERNEL=="1-1.4",RUN{program}+="/usr/sbin/usbip bind -b %k"
KERNEL=="ttyUSB*", SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK="ttyDaq"
SYMLINK+="ttyCerberus",KERNEL=="ttyACM*",SUBSYSTEM=="tty",SUBSYSTEMS=="usb",GROUP="tty",KERNELS=="1-1.3:1.1"
